<a href="https://colab.research.google.com/github/KANNEBOINAVARSHITHA/sample.github.io/blob/main/day_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=5
b=4.6
c=a+5j
name='Varshitha'
d='a'
print(a,type(a))
print(b,type(b))
print(c,type(c))
print(name,type(name))
print(d,type(d))

5 <class 'int'>
4.6 <class 'float'>
(5+5j) <class 'complex'>
Varshitha <class 'str'>
a <class 'str'>

### Datatypes

In [ ]:
list=[1,2,3,'hello','a',3,5.6]
print(list,type(list))

[1, 2, 3, 'hello', 'a', 3, 5.6] <class 'list'>

In [ ]:
tuple=(1,3,5,"hello",5,5.2,'a')
print(tuple,type(tuple))

(1, 3, 5, 'hello', 5, 5.2, 'a') <class 'tuple'>

In [ ]:
set={3,9,18,24,3,9}
print(set,type(set))

{24, 9, 18, 3} <class 'set'>

In [ ]:
dictonary={101:'varsha',102:'varsha',103:'varshitha'}
print(dictonary,type(dictonary))

{101: 'varsha', 102: 'varsha', 103: 'varshitha'} <class 'dict'>

In [ ]:
none=None
print(none,type(none))

None <class 'NoneType'>

In [ ]:
#arithmetic operators
a=5
b=2
print(a+b,a-b,a*b,a/b,a//b,a%b,a**b)

7 3 10 2.5 2 1 25

In [ ]:
#relational operators
#comparison operators
a=7
b=2
c="abc"
print(a<b,a>b,a<=b,a>=b,a!=b,a==c)

False True False True True False

In [ ]:
#assignment operators
a=7
b=3
#b+=a#-->b=b+a
#b-=a#-->b=b-a
#b*=a#-->b=b*a
#b/=a#-->b=b/a
#b//=a#-->b=b//a
b**=a
print(b,type(b))

2187 <class 'int'>

In [ ]:
#logical operators
print(5<6 and 6<7)
print(5<6 or 6<7)
print(not(5<6 and 6<7))

True
True
False

In [ ]:
a=7
b=5
c=6
print(a+b+c)
a=1
b=8
print(a+b)

18
9

In [ ]:
def sum_of_digits_until_single(number):
    while number >= 10:
        digit_sum = 0
        while number > 0:
            digit_sum += number % 10
            number //= 10
        number = digit_sum
    return number
num = int(input("Enter a number: "))
result = sum_of_digits_until_single(num)
print(f"The single-digit sum is: {result}")

Enter a number: 756
The single-digit sum is: 9

### Bitwise operators

In [ ]:
#compliment
a=7
print(~a)
print(bin(a))

-8
0b111

In [ ]:
#bitwise and,or,xor,left shift,right shift
print(5&6)
print(5|6)
print(5^6)
print(5<<3)
print(50>>2)

4
7
3
40
12

In [ ]:
#identity operators
#compares the actual data and type
a=5
b=5
c=int('5')
print(id(a),id(c))
print(id(a),id(b))
print(a is c)
print(a is not b)

139252708016496 139252708016496
139252708016496 139252708016496
True
False

In [ ]:
#range (start,end,stop)
a=list(range(0,100,2))#explicit conversion from range to list
b=list(range(1,100,2))
print(a)
print(b)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]